.container{
    display: flex;
    flex: row;
    flex-wrap: wrap;
    width: 100%;   
    align-items: center;
    justify-content: space-between;
}
.pokemon_container {
 

}
.pokemon_container img{
    width: 150px;

}